
#container{
	margin:auto;
	background:#fff;
	width:600px;
	height:1500px;
	padding:20px 40px;
	text-align:left;
}

body{
	font-family:Georgia,serif;
	font-size:20px;
	font-style:italic;
	font-weight:normal;
	letter-spacing:normal;
	background:#d1d2f1;
	color:#333;
	line-height:100%;
	margin:0;
	padding:0;
	text-align:center;
}
#content{
	background-color:#fff;
	width:750px;
	padding:40px;
	margin:auto;
	border-left:30px solid #1D81B6;
	border-right:1px solid #ddd;
	-moz-box-shadow:0px 0px 16px #aaa;
}
.head{
	font-family:Helvetica,Arial,Verdana;
	text-transform:uppercase;
	font-weight:bold;
	font-size:12px;
	font-style:normal;
	letter-spacing:3px;
	color:#888;
	border-bottom:3px solid #f0f0f0;
	padding-bottom:10px;
	margin-bottom:10px;
}
.container{
	position:relative;
	top:500px;
	width:100%;
}
.branch{
	position:absolute;
	left:10px;
	top:300px;
	width:300px;
}
.category{
	position:absolute;
	left:350px;
	width:500px;
}
.category2{
	position:absolute;
	left:900px;
	width:300px;
}
.activity{
	position:absolute;
	left:1050px;
	width:300px;
}
.foot{
	position:absolute;
	bottom:350px;
	width:300px;
}

/*form1*/

#form1{
	margin:1em;
	padding-top:10px;

}
#form1 fieldset{
	margin:0;
	padding:0;
	border:none;
	float:left;
	display:inline;
	width:260px;
	margin-left:25px;
}
#form1 legend{
	display:block;
	background-color:#d1d2f1
	margin-top:5px;

}
#form1 p{margin:.5em0;}

#form1 label{display:block;}

#form1 input,#form1 textarea{
	width:252px;
	border:1px solid #ddd;
	background:#fffurl(../images/form1/form_input.gif)repeat-x;
	padding:3px;
}
#form1 p.submit{
	clear:both;
	padding:25px 20px 5px;
	margin:0;
	text-align:left;
}
#form1 input.button{
	width:150px;
	height:37px;
	line-height:37px;
	border:none;
	background:url(../images/form1/form_button.gif)no-repeat00;
	color:#fff;
	cursor:pointer;
	text-align:center;
}

/*//form1*/


