
body{
	background:#f8f8f8;
	font:13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
	color:#333;
	line-height:160%;
	margin:0;
	padding:0;
	text-align:center;
	}


#container{
	margin:0 auto;
	background:#fff;
	width:600px;
	padding:20px 40px;
	text-align:left;
	}


/* form 1 */

	#form1{
		margin:1em 0;
		padding-top:10px;
		background:url(../images/form1/form_top.gif) no-repeat 0 0;
		}
	#form1 fieldset{
		margin:0;
		padding:0;
		border:none;
		float:left;
		display:inline;
		width:260px;
		margin-left:25px;
		}
	#form1 legend{display:block;}
	#form1 p{margin:.5em 0;}
	#form1 label{display:block;}
	#form1 input, #form1 textarea{
		width:252px;
		border:1px solid #ddd;
		background:#fff url(../images/form1/form_input.gif) repeat-x;
		padding:3px;
		}
	#form1 p.submit{
		clear:both;
		background:url(../images/form1/form_bottom.gif) no-repeat 0 100%;
		padding:0 25px 20px 5px;
		margin:0;
		text-align:left;
		}
	#form1 input.button{
		width:150px;
		height:37px;
		line-height:37px;
		border:none;
		background:url(../images/form1/form_button.gif) no-repeat 0 0;
		color:#fff;
		cursor:pointer;
		text-align:center;
		}

/* // form 1 */


