
#branch
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 5px;
	width: 300px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #69c;
	text-align: center;
}
#branch th
{
	padding: 12px 17px 12px 17px;
	font-weight: normal;
	font-size: 14px;
	color: #039;
	border-bottom: 1px dashed #69c;
}
#branch td
{
	padding: 7px 17px 7px 17px;
	color: #669;
}
#branch tbody tr:hover td
{
	color: #339;
	background: #d0dafd;
}


